@page "/"
@namespace blazorchess.Shared

<style>
    .box {
        float: left;
        max-width: 12.5%;
        max-height: 12.5%;
        width: 80px;
        height: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: background-color 0.3s ease;
    }

    .board {
        display: block;
        max-width: 100%;
        max-height: 100%;
        width: auto;
        height: auto;
        margin: 20px;
        border: 14px solid #333;
    }

    .image {
        max-width: 75%;
        width: 60px;
        height: 60px;
        transition-duration: 0.14s;
    }

        .image:hover {
            transform: scale(1.2);
        }

    .content {
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 100%;
    }

    .dot {
        height: 25px;
        width: 25px;
        background-color: Lime;
        border-radius: 50%;
        display: inline-block;
    }
</style>

<div class="content">
    <div class="board">
        @for (int i = 0; i < row.Length; i++)
        {
            <div>
                @for (int j = 0; j < row[i].column.Length; j++)
                {
                    int x = i;
                    int y = j;
                    bool targetfield = false;
                    @if (colorLegalFields(i, j))
                    {
                        targetfield = true;
                    }

                    <div class="box"
                            style="@(row[i].column[j].isSelected ? "background-color: Lime" : ((i - j) % 2 == 0 ? "background-color: Moccasin;" : "background-color: Peru;"))
                                @(targetfield && row[i].column[j].piece != null ? "box-shadow:0px 0px 0px 7px Lime inset;" : "")"
                            @onclick="() => clicked(x, y)">
                        @if (targetfield && (row[i].column[j].piece == null) && x0 != null)
                        {
                            <span class="dot"></span>
                        }
                        @if (row[i].column[j].piece != null)
                        {
                            <img class="image"
                                    src="@row[i].column[j].piece?.getImage(selectedTheme)"
                                    alt="@row[i].column[j].piece!.color @row[i].column[j].piece!.getType()" />
                        }
                    </div>
                }
            </div>
        }
    </div>
</div>

<div>
    <label>Theme:</label>
    <select @bind="selectedTheme">
        <option value="Classic">Classic</option>
        <option value="Horsey">Horsey</option>
    </select>
</div>

@code {
    //Starts by creating rows for the chessboard
    public Column[] row = new Column[8];
    public int? x0;
    public int? y0;
    string currentTurn = "White";
    string selectedTheme = "Classic";
    string?[,] colorsOfBrick = new string?[8, 8];

    protected override void OnInitialized()
    {
        //Creates colums and Fields
        for (int i = 0; i < row.Length; i++)
        {
            row[i] = new Column();
        }
        for (int i = 0; i < row.Length; i++)
        {
            for (int j = 0; j < row[i].column.Length; j++)
            {

                row[i].column[j] = new Field();
            }
        }
        //Places pieces in starting positions
        createPiecesObjects();
    }

    public class Field
    {
        public Boolean isSelected = false;
        public ChessPiece? piece;
    }

    public class Column
    {
        public Field[] column = new Field[8];
    }

    void clicked(int x, int y)
    {
        if (row[x].column[y].isSelected)
        {
            row[x].column[y].isSelected = false;
            x0 = y0 = null;
        }
        else
        {
            if (x0 == null || y0 == null)
            {
                if (row[x].column[y].piece != null && row[x].column[y].piece?.color == currentTurn)
                {
                    row[x].column[y].isSelected = true;
                    x0 = x;
                    y0 = y;
                }
            }
            else
            {
                int x0temp = x0 ?? default(int);
                int y0temp = y0 ?? default(int);

                if (checkSameTeam(x, y, x0temp, y0temp))
                {
                    row[x0temp].column[y0temp].isSelected = false;
                    row[x].column[y].isSelected = true;
                    x0 = x;
                    y0 = y;
                }

                for (int i = 0; i < row.Length; i++)
                {
                    for (int j = 0; j < row[i].column.Length; j++)
                    {
                        colorsOfBrick[i, j] = row[i].column[j].piece?.color;
                    }
                }

                if (row[x0temp].column[y0temp].piece != null && !checkSameTeam(x, y, x0temp, y0temp) && row[x0temp].column[y0temp].piece!.isMoveLegal(x0temp, y0temp, x, y, colorsOfBrick))
                {
                    row[x0temp].column[y0temp].piece!.firstMove = false;
                    row[x].column[y].piece = row[x0temp].column[y0temp].piece;
                    row[x0temp].column[y0temp].piece = null;
                    row[x].column[y].isSelected = false;
                    row[x0temp].column[y0temp].isSelected = false;
                    x0 = y0 = null;
                    switch (currentTurn)
                    {
                        case "White":
                            currentTurn = "Black";
                            break;
                        case "Black":
                            currentTurn = "White";
                            break;
                    }
                }
            }
        }
    }

    bool colorLegalFields(int x, int y)
    {
        for (int i = 0; i < row.Length; i++)
        {
            for (int j = 0; j < row[i].column.Length; j++)
            {
                colorsOfBrick[i, j] = row[i].column[j].piece?.color;
            }
        }
        int x0temp = x0 ?? default(int);
        int y0temp = y0 ?? default(int);
        return (row[x0temp].column[y0temp].piece != null && !checkSameTeam(x, y, x0temp, y0temp) && row[x0temp].column[y0temp].piece!.isMoveLegal(x0temp, y0temp, x, y, colorsOfBrick));
    }

    bool checkSameTeam(int x, int y, int x0, int y0)
    {
        return row[x].column[y].piece?.color == row[x0].column[y0].piece?.color;
    }

    void createPiecesObjects()
    {
        createBackRow(0, "Black");
        createBackRow(7, "White");
        createPawnRow(1, "Black");
        createPawnRow(6, "White");

        void createBackRow(int i, string color)
        {
            row[i].column[0].piece = new Rook(color);
            row[i].column[1].piece = new Knight(color);
            row[i].column[2].piece = new Bishop(color);
            row[i].column[3].piece = new Queen(color);
            row[i].column[4].piece = new King(color);
            row[i].column[5].piece = new Bishop(color);
            row[i].column[6].piece = new Knight(color);
            row[i].column[7].piece = new Rook(color);
        }

        void createPawnRow(int i, string color)
        {
            for (int j = 0; j < row[i].column.Length; j++)
            {
                row[i].column[j].piece = new Pawn(color);
            }
        }
    }
}